<div *ngIf="!isLoggedIn(); else loginBlock" class="container">
    <app-nav (categorie)="setCategorie($event)"></app-nav>
    <div [ngSwitch]="this.categorie">
        <div *ngSwitchCase="'profile'">
            <app-profile></app-profile>
        </div>
        <div *ngSwitchCase="'messenger'">
            <app-messenger></app-messenger>
        </div>
        <div *ngSwitchCase="'assignment'">
            <app-assignment></app-assignment>
    </div>
    </div>
</div>
<ng-template #loginBlock>
    <app-welcome></app-welcome>
</ng-template>