<p>assignment works!</p>
<input type="text" id="username">
<input type="text" id="password">
<button (click)="getAllAssignments()">getAssignments</button>
<button (click)="getAllAssignmentsHTTP()">getAssignments HTTP</button>


<div class="assignmentList" id="assignmentList">
    <div class="assignment">
            <div class="assignment-title">testTitle</div>
            <div class="assignment-description">testDescription</div>
            <div class="assignment-duedate">testduedate</div>
            <div class="line"></div>
            <div class="assignment-course">course</div>
            <div class="line"></div>
            <div class="assignment-done">✅</div>
    </div>
    <div class="assignment">
        <div class="assignment-title">testTitle</div>
        <div class="assignment-description">testDescription</div>
        <div class="assignment-duedate">testduedate</div>
        <div class="line"></div>
        <div class="assignment-course">course</div>
        <div class="line"></div>
        <div class="assignment-done">✅</div>
    </div>
    <div class="assignment">
        <div class="assignment-title">testidTitle</div>
        <div class="assignment-description">testzsahbdnhwjbanjskdnmwjmDescription</div>
        <div class="assignment-duedate">testduede</div>
        <div class="line"></div>
        <div class="assignment-course">course</div>
        <div class="line"></div>
        <div class="assignment-done">✅</div>
    </div>
</div>