.box {
  border-color: purple;
  border-style: solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

hr {
  border-color: purple;
  border-style: solid;
  margin: 20px 0;
}

#name {
  margin-left: 2.5%;
}

#logout-button {
  float: right;
  margin-top: 25px;
  margin-right: 2.5%;
}
