/* You can add global styles to this file, and also import other style files */

@keyframes colorChange {
  0% {
    color: #b400a7;
  }
  25% {
    color: #b460e7;
  }
  50% {
    color: #7029e7;
  }
  75% {
    color: #d622e7;
  }
}

#content {
  margin-left: 50px;
  margin-right: 50px;
}

p {
  color: #c480e7;
  font-size: 20px;
  font-weight: 500;
}

body {
  background: linear-gradient(
    90deg,
    #030b28 0%,
    #1d0a45 33%,
    #290951 52%,
    #1f0751 80%,
    #390452 100%
  );
  font-family: "Arial";
}
