<div id="side-bar">
    <div class="side-bar-group">
        <button class="side-bar-element">
            <img src="../assets/images/logo.png" alt="logo">
        </button>
    </div>
    <div class="side-bar-group">
        <button class="side-bar-element">
            <img src="../assets/images/home1.png" alt="home">
        </button>
        <button class="side-bar-element">
            <img src="../assets/images/calendar.png" alt="calendar">
        </button>
        <button class="side-bar-element">
            <img src="../assets/images/to-do-list.png" alt="todolist">
        </button>
    </div>
    <div class="side-bar-group">
        <button class="side-bar-element">
            <img src="../assets/images/group.png" alt="group">
        </button>
        <button class="side-bar-element">
            <img src="../assets/images/speech-bubble.png" alt="speech">
        </button>
    </div>
    <div class="side-bar-group">

    </div>
    <div class="side-bar-group">
        <button class="side-bar-element">
            <img src="../assets/images/setting.png" alt="setting">
        </button>
        <button class="side-bar-element">
            <img id="pfp" src="../assets/images/example-pfp.png" alt="pfp">
        </button>
    </div>